/* src/assets/base.css */

/* 기본 리셋 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 이미지 기본 설정 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 버튼 기본 스타일 제거 */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* 인풋 기본 설정 */
input,
textarea,
select {
  font: inherit;
}

/* 링크 기본 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 기본 스타일 제거 */
ul,
ol {
  list-style: none;
}
