/* src/assets/main.css */
@import 'tailwindcss';
@import './base.css';

:root {
  --g-dialog-content-bg: #eff1f3;
  --g-dialog-content-border-radius: 0;
  --g-dialog-content-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
  --g-dialog-overlay-bg: rgba(156, 156, 156, 0.01);
  --g-dialog-transition-duration: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

#app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 0 0 0;
  font-weight: normal;
}

button {
  padding: 0.5rem 1rem;
}
