/* src/assets/main.css */
@import 'tailwindcss';
@import './base.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

#app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button {
  padding: 0.5rem 1rem;
}
